node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.expo
.expo-shared
dist
web-build
coverage

node_modules
.expo
dist
build
android
ios
.git
npm-debug.log
Dockerfile
docker-compose.yml

.git
.idea
*.iml
